body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
    background-color: #78c4d4;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #150e56;
}
h2{
    font-size: 2.5rem;
    color: #150e56;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    font-weight: normal;
}
.programmer{
    font-weight: normal;
}
.intro{
width: 30%;
margin: auto;
}

h3{
    color: #28527a;
}
a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(39, 86, 146);
}

.top-container{
    background-color: #78c4d4;
    position: relative;
    padding-top: 100px;
}
.middle-container{
margin: 100px 0;
background-color:#78c4d4;
color: #301b3f;

}
  
.bottom-container{
background-color:#150e56 ;
padding: 50px 0 20px;

}
.skill-row{
    width:50%;
    margin: 200px auto 100px auto;
    text-align: left;
}
.top-cloud{
    position: absolute;
    right: 40px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.cooking{
    width: 30%;
    float: right;
    margin-left: 30px;
}
.painting{
    width: 30%;
    float: left;
    margin-right: 30px;
}
p{
    line-height: 2;

}
hr{
    border: dotted #2b3131 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 17px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .copyright{
     color: #eaf6f6;
     font-size: 0.75rem;
     padding: 20px 0;
 }